---
import { getCollection } from "astro:content";
import {} from "date-fns";
const allEvents = (await getCollection("events")).sort(
  (a, b) => b.data.from.getTime() - a.data.from.getTime()
);
const pastEvents = allEvents.filter(
  (event) => new Date().getTime() < event.data.from.getTime()
);
const nextEvent = allEvents[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aalborg Hackathon</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <header class="bg-blue-800 p-8 text-white flex flex-row justify-between">
      <h1 class="text-4xl font-bold">Aalborg Hackathon</h1>
      <div class="flex gap-4">
        <a
          class="bg-gray-400 text-gray-800 rounded-md p-4 hover:bg-gray-300 hover:text-underline shadow-lg font-bold cursor-pointer"
          >Host a Hackathon</a
        >
        <a
          class="bg-green-700 text-white rounded-md p-4 hover:bg-green-600 hover:text-underline shadow-lg font-bold cursor-pointer"
          >Join our next Hackathon</a
        >
      </div>
    </header>
    <main class="min-h-screen bg-red-50">
      <section class="p-4 md:p-8">
        <h3 class="text-xl mb-2">We put the "Hygge" in "Hackathon"</h3>
         Meet great people, work on personal projects, collaborate and have fun.
      </section>
      <section class="p-4 md:p-8">
        <h3 class="text-xl mb-2">Next Event</h3>
        <div class="shadow-md rounded-md bg-white border p-4">
          {nextEvent.data.title}
        </div>
      </section>

      <section class="p-4 md:p-8">
        <h3 class="text-xl mb-2">Past Events</h3>
      </section>
    </main>
  </body>
  <footer class="flex flex-row justify-between gap-4 p-8">
    <div>Sponsored by Subaio A/S</div>
    <a
      href="https://www.linkedin.com/groups/7453429/"
      target="_blank"
      rel="nofollow noreferer">LinkedIn Group</a
    >
  </footer>
</html>
