<header
  class="bg-blue-800 p-8 text-white flex flex-row items-center flex-wrap justify-between gap-4 mb-4"
>
  <a href="/"><h1 class="text-4xl font-bold">Aalborg Hackathon</h1></a>
  <div class="flex gap-4 min-w-[100px]">
    <slot />
  </div>
</header>
